In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams['font.family']='Malgun Gothic'
matplotlib.rcParams['axes.unicode_minus']=False

In [2]:
data = np.random.randint(1,10, size=4)
data

array([2, 3, 3, 3])

In [7]:
np.random.seed(1)

In [8]:
data = np.random.randint(30,101, size=(4,6) )
data

array([[67, 42, 39, 35, 94, 46],
       [31, 36, 55, 80, 50, 48],
       [41, 58, 59, 44, 80, 98],
       [43, 39, 37, 93, 91, 52]])

In [15]:
df = pd.DataFrame( data )
df

    0   1   2   3   4   5
0  67  42  39  35  94  46
1  31  36  55  80  50  48
2  41  58  59  44  80  98
3  43  39  37  93  91  52

In [9]:
df['년도'] = [2018,2018,2019,2019]
df['반'] = ['1반','2반','1반','2반']
df

    0   1   2   3   4   5    년도   반
0  67  42  39  35  94  46  2018  1반
1  31  36  55  80  50  48  2018  2반
2  41  58  59  44  80  98  2019  1반
3  43  39  37  93  91  52  2019  2반

In [10]:
df.set_index( ['년도','반'] )

          0   1   2   3   4   5
년도   반
2018 1반  67  42  39  35  94  46
     2반  31  36  55  80  50  48
2019 1반  41  58  59  44  80  98
     2반  43  39  37  93  91  52

In [16]:
df.index = pd.MultiIndex.from_product( [[2018,2019],['1반','2반'] ], names=['년도','반']  )

In [17]:
df

          0   1   2   3   4   5
년도   반
2018 1반  67  42  39  35  94  46
     2반  31  36  55  80  50  48
2019 1반  41  58  59  44  80  98
     2반  43  39  37  93  91  52

In [18]:
df.index

MultiIndex([(2018, '1반'),
            (2018, '2반'),
            (2019, '1반'),
            (2019, '2반')],
           names=['년도', '반'])

In [20]:
df.index.levels[0]

Int64Index([2018, 2019], dtype='int64', name='년도')

In [21]:
df.index.levels[1]

Index(['1반', '2반'], dtype='object', name='반')

In [ ]:

1. https://movie.daum.net/premovie/released 를 파싱하여 아래처럼 출력하시요

영화명  평점  개봉일
====================================
겨울왕국    2    7.6    2019.11.21 개봉
나를 찾아줘      7.0    2019.11.27 개봉
...
어메이징그레이스 9.0    2019.11.28 개봉

2. 위의 결과를 데이터프레임으로 변환후 평점이 8.0 이상인 
영화명 평점 개봉일을 출력하시요

3. x축을 영화명 으로 y축을 평점으로 라인차트를 그리시요

4. 2019년11월 10일 이후 개봉한 영화명,평점,개봉일을 구하시요