In [8]:
a=5
# rst = a**2
# rst = a*2
# rst = a/2
# rst = a%2
# rst = a//2
# rst = a+2
# rst = a-2
rst = 3*2**2+3-2
print( rst )

13

In [10]:
n = input('입력:')
print(n, type(n))

입력:3.14
3.14 <class 'str'>

In [11]:
s ='100'
s = int(s)
print(s, type(s))

100 <class 'int'>

In [12]:
n = 10
n = str(n)
print(n, type(n))

10 <class 'str'>

In [13]:
f = '3.14'
f = float(f)
print(f, type(f))

3.14 <class 'float'>

In [ ]:
반지름을 입력받아 원의면적을 구하시요

In [14]:
r = input('반지름:')
area = 3.14*int(r)**2
print('면적: ', area )

반지름:5
면적:  78.5

In [ ]:
#산술(정수,실수)
#str( +, * %)
#list( + , *)

In [16]:
s = 'abc'
# s = s+'def'
s = s*3
print(s)

abcabcabc

In [23]:
a= 10
b = 3.14
c ='abc'
# s = 'a=%10d b=%.2f c=%s'%(a,b,c)
s = f'a={a:10} b={b:.1f} c={c}' # 3.5버전이후..
print(s)

a=        10 b=3.1 c=abc

In [25]:
my=[1,2,3]
# my = my +[5,6
my = my*2
my

[1, 2, 3, 1, 2, 3]

### 대입연산자

In [28]:
n = 10
# n++ (X) n--(X)
# n +=2 # n = n+2
# n *=2 # n = n*2
n **=2 # n = n**2
print(n)

100

### 관계연산자

In [37]:
a = 15
# rst = a>0
# rst = a>=0
# rst = a < 0
# rst = a <= 0
# rst = a == 0
# rst = a != 0
rst = 0< a < 10 # 다른언어 0<a && a<10
print( rst )

False

### 논리연산자

In [46]:
a=5
# rst = a>0 and a==0
# rst = a>0 or a==0
# rst = not a>0
# rst = not []#''#None #0
rst = not 'abc' #3.14
print(rst )

False

In [ ]:
# False: 0, None, '', [], (), {}
# True: 0이아닌정수및 실수,'ab', [10],{'a':10}

In [50]:
# 요소 in 복합데이터타입
s = 'hello korea'
my = [10,20,30]
d = {'aa':10, 'bb':20}
print( 'llo' in s )
print( 20 in my )
print( 'aa' in d )
print( 100 not in my)

True
True
True
True

### 삼항연산자

In [52]:
a= -5
rst = 100 if a>0 else 200 #다른언어 a>0? 100 :200
print( rst )

200

In [ ]:
#하나의 점수를 읽어 70점이상이면 '합격' 미만이면'불합격'

In [ ]:
n = input("점수는?:")
n = int(n)
rst = '합격' if n >= 70 else '불합격'
print(rst)
# print('합격' if s>=70 else '불합격')