In [ ]:
# 1. 키와 몸무게를 입력받아 비만도를 구하고 결과를 출력하시요(함수를 만드시요)
# 표준체중(kg)=(신장(cm)-100)×0.85
# 비만도(%)=현재체중/표준체중×100
# 비만도가90%이하
# 저체중,
# 90초과~110%
# 정상,
# 110초과~120%
# 과체중,
# 120%초과 
# 비만

In [ ]:
# SRP

In [1]:
def calB(h, w):
    sw = (h - 100)*0.85
    b = w/sw*100
    if b <= 90:
        return "저체중"
    elif 90 < b <= 110:
        return "정상"
    elif 110 < b <= 120:
        return "과체중"
    elif 120 < b:
        return "비만"

In [2]:
calB(170,60)

'정상'

In [ ]:
# 2. 년도 입력받아
# 1) 윤년여부를 출력하는 함수를 만드시요
# 윤년의 조건
# 1-1) 4로 나눠 떨어지지만 100으로 나눠 떨어지지 않아야 한다 또는
# 1-2) 400 으로 나눠 떨어지면 윤년임
# 2) 나이를 출력하는 함수를 만드시요
# 3) 띠(12지신)를 출력하는 함수를 만드시요

In [4]:
def calY(year):
    return "윤년" if year%4 == 0  and year%100 != 0 or year%400 == 0 else '윤년아님'
#     if (year%4 == 0  and year%100 != 0) or year%400 == 0:
#         print(year, 'is 윤년')
#     else:
#         print(year, 'is NOT 윤년')

In [3]:
def calAge(year):
    return 2021 - year + 1

In [7]:
2021%12

5

In [9]:
def cal12Ganji(year):
    return ('원숭이','닭','개','돼지','쥐','소','호랑이','토끼','용','뱀','말','양')[year%12]

In [ ]:
# 3. 점수를 입력받아
# 90~100 'A'
# 80~89 'B'
# 70~79 'C'
# 60~69 'D'
# 나머지 'F'
# 딕셔너리를 이용하여 구하시요

In [19]:
jumsu = 34
grade = { 10:'A',9:'A',8:'B',7:'C',6:'D' }
# grade[ jumsu//10 ]
grade.get( jumsu//10, 'F' )

'F'

In [ ]:
# 4. m 를 입력받아 마일로 변환하시요(함수를 만드시요)

In [20]:
def meterToMile(meter):
    return meter * 0.000621371

In [ ]:
# 5. 화씨 를 입력받아 도로 변환하시요(함수를 만드시요)

In [21]:
def fToC(f):
    return (f - 32)*5/9

In [ ]:
# 6. 2개의 정수를 입력받아 절대값의 합을 구하는 함수를 만드시요
#( 반드시 로직으로 구현)

In [25]:
def sumAbs(a, b):
    return (a if a > 0 else -a ) + (b if b > 0 else -b)

In [24]:
a = -3
a = -1*a if a<0 else a
a

3

In [ ]:
# 7. data = [1, 2, 3, 4, 5, 6, 73, 8, 10, 54] 의 가장큰값을 구하는 함수를 만드시요
# (반드시로직으로 구현)

In [28]:
def myMax( dt ):
    mx = dt[0]
    for n in dt[1:]:
        if n>mx:
            mx = n
    return mx

In [29]:
data = [1, 2, 3, 4, 5, 6, 73, 8, 10, 54]
myMax(data)

73

In [ ]:
# 8. 다음과 같이 구구단을 출력하시요
# 1X1 = 1	2X1= 2	3X1= 3
# 1X2 = 1	2X2= 4	3X2= 6
# ...
# 1X9 = 9	2X9=18	3X9=27

# 4X1 = 4	5X1= 5	6X1= 6
# 4X2 = 8	5X2=10	6X2=12
# ...
# 4X9 =36	5X9=45	6X9=54

# 7X1 = 7	8X1= 8	9X1= 9
# 7X2 =14	8X2=16	9X2=18
# ...
# 7X9 =63	8X9=72	9X9=81

In [36]:
for n in range(1, 8, 3):
    for m in range(1,10):
        print( f'{n}X{m}={n*m:2} {n+1}X{m}={(n+1)*m:2} {n+2}X{m}={(n+2)*m:2}' )
    print()

1X1= 1 2X1= 2 3X1= 3
1X2= 2 2X2= 4 3X2= 6
1X3= 3 2X3= 6 3X3= 9
1X4= 4 2X4= 8 3X4=12
1X5= 5 2X5=10 3X5=15
1X6= 6 2X6=12 3X6=18
1X7= 7 2X7=14 3X7=21
1X8= 8 2X8=16 3X8=24
1X9= 9 2X9=18 3X9=27

4X1= 4 5X1= 5 6X1= 6
4X2= 8 5X2=10 6X2=12
4X3=12 5X3=15 6X3=18
4X4=16 5X4=20 6X4=24
4X5=20 5X5=25 6X5=30
4X6=24 5X6=30 6X6=36
4X7=28 5X7=35 6X7=42
4X8=32 5X8=40 6X8=48
4X9=36 5X9=45 6X9=54

7X1= 7 8X1= 8 9X1= 9
7X2=14 8X2=16 9X2=18
7X3=21 8X3=24 9X3=27
7X4=28 8X4=32 9X4=36
7X5=35 8X5=40 9X5=45
7X6=42 8X6=48 9X6=54
7X7=49 8X7=56 9X7=63
7X8=56 8X8=64 9X8=72
7X9=63 8X9=72 9X9=81