In [1]:
def fn():
    print('hello')
    print('korea')

In [3]:
def hap(a,b):
    return a+b

In [5]:
def fn1():
    return 10,20

In [8]:
def shape( r, h, w ):
    return r**2*3.14, h*w

In [10]:
def fn2( a=10,b=20):
    print(a, b)

In [14]:
def fn3( *args ): #가변인자
    print( args )

In [16]:
def circles( *rs):
    for r in rs:
        print( r**2*3.14 )

In [23]:
def fn4(*args, a=10,b=20):
    print( args )
    print(a)
    print(b)

In [31]:
def fn5( **kwargs): #정의되지 않은 인자
    print( kwargs)

In [33]:
#일급함수:(함수 인자, 리턴, 할당, 함수안에 함수선언)
def myfn():
    print("myfn ...")

In [36]:
def afn( aa):
    aa()

In [38]:
def sfn1():
    print('sfn1...')
def sfn2():
    print('sfn2...')
def defaultFn():
    print("defaultfn...")

In [44]:
d = {1:sfn1, 2:sfn2 } # switch 문을 대용
# d[2]()
d.get(3, defaultFn )()

defaultfn...

In [ ]:
# 하나의 정수를 인자로 받아 약수를 반환하는
# 함수를 만드시요. 예) 10 1,2,5,10

In [45]:
def fn( num ): 
    a = []
    for i in range(1, num+1): 
        if num%i == 0: 
            a.append(i) 
    return a

In [47]:
def yaksu( num ):
    return [n for n in range(1,num+1) if num%n==0 ]

In [56]:
def tfn( v ):
    return v<=30

In [59]:
def tfn1( v ):
    return v > 30

In [57]:
def myfilter( adata, key):
    return [ n for n in adata if key(n) ]
# def myfilter( adata):
#     return [ n for n in adata if n <=30]
# def myfilter1( adata):
#     return [ n for n in adata if n ==30]
# def myfilter2( adata):
#     return [ n for n in adata if n >=30]

In [62]:
data = [10,20,30,40,50]
myfilter( data, lambda v: v > 30 )
# myfilter( data, lambda v: v<=30 )
# myfilter( data, tfn1 )
# myfilter( data, tfn )
# myfilter2( data )
# result = [n for n in data if n<=30]
# print( result )

[40, 50]

In [48]:
yaksu(10)

[1, 2, 5, 10]

In [46]:
fn(10)

[1, 2, 5, 10]

In [37]:
afn( myfn )

myfn ...

In [35]:
#함수명: 메모리에 할당된 함수의 시작주소
my = myfn #할당( shallow copy)
print( id(my), id(myfn))
myfn() #함수호출
my()

140638507388800 140638507388800
myfn ...
myfn ...

In [32]:
fn5(a=10,b=20)
fn5(name='홍길동', age=20)

{'a': 10, 'b': 20}
{'name': '홍길동', 'age': 20}

In [25]:
# fn4(1,2,3,a=4,b=5)
fn4(1,2,3,a=4,b=5)

(1, 2, 3)
4
5

In [27]:
print(10,20,30,sep='-')

10-20-30

In [29]:
print('hello',end=' ' )
print('korea')

hello korea

In [17]:
circles(1,2,3,4,5)

3.14
12.56
28.26
50.24
78.5

In [15]:
fn3(10,20,30)
fn3( 'aa','bb','cc','dd' )

(10, 20, 30)
('aa', 'bb', 'cc', 'dd')

In [13]:
fn2()
fn2(100)
fn2(100,200)
fn2( b=1000 )

10 20
100 20
100 200
10 1000

In [9]:
shape(3,10,20)

(28.26, 200)

In [6]:
rst = fn1()
rst

(10, 20)

In [7]:
a, b = fn1()
print( a, b)

10 20

In [2]:
fn()
fn()
fn()

hello
korea
hello
korea
hello
korea

In [4]:
rst = hap(10,20)
print( rst )

30