In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'aa':10,'bb':20,'cc':30,'dd':40,'ee':50}
sr = pd.Series(data, name='국어점수')
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

### 연산( 산술, 관계,논리)
### element wise(요소별연산)

In [4]:
sr+2

aa    12
bb    22
cc    32
dd    42
ee    52
Name: 국어점수, dtype: int64

In [5]:
sr*2 # sr = sr*2

aa     20
bb     40
cc     60
dd     80
ee    100
Name: 국어점수, dtype: int64

In [7]:
sr-2

aa     8
bb    18
cc    28
dd    38
ee    48
Name: 국어점수, dtype: int64

In [8]:
sr+sr

aa     20
bb     40
cc     60
dd     80
ee    100
Name: 국어점수, dtype: int64

In [9]:
#문제 세금3.3을 제한 실수령액을 구하시요
salary = pd.Series([1000,2000,3000,4000])
salary * (1-0.033)

0     967.0
1    1934.0
2    2901.0
3    3868.0
dtype: float64

### boolean indexing

In [11]:
sr[ [0,2,3] ]

aa    10
cc    30
dd    40
Name: 국어점수, dtype: int64

In [10]:
sr[ [True,False,False,True,True] ]

aa    10
dd    40
ee    50
Name: 국어점수, dtype: int64

### 관계연산자( >, >=, <, <=, ==, !=)

In [14]:
sr<=30

aa     True
bb     True
cc     True
dd    False
ee    False
Name: 국어점수, dtype: bool

In [13]:
sr[  sr<=30 ]  #  sr[ [True,True,True,False,False]]

aa    10
bb    20
cc    30
Name: 국어점수, dtype: int64

In [16]:
sr[ sr>30 ]

dd    40
ee    50
Name: 국어점수, dtype: int64

### 논리연산자 ( and ==> &, or==> |, not ==> ~ )

In [17]:
(sr == 20) | (sr==40)

aa    False
bb     True
cc    False
dd     True
ee    False
Name: 국어점수, dtype: bool

In [18]:
sr[ (sr == 20) | (sr==40)  ]
# sr[ (sr == 20) | (sr==40) | (sr==50)]

bb    20
dd    40
Name: 국어점수, dtype: int64

In [20]:
sr[ (sr>=20) & (sr<=40) ]

bb    20
cc    30
dd    40
Name: 국어점수, dtype: int64

In [22]:
sr[  ~(sr<30) ]

cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [25]:
sr[ sr.index == 'aa' ]

aa    10
Name: 국어점수, dtype: int64

In [27]:
# sr[ (sr == 20) | (sr==40) | (sr==50)  ]
sr[ sr.isin( [20,40,50] ) ]

bb    20
dd    40
ee    50
Name: 국어점수, dtype: int64

In [31]:
sr[ ~sr.isin( [20,40,50] ) ]

aa    10
cc    30
Name: 국어점수, dtype: int64

In [29]:
sr[ sr.index.isin( ['aa','dd'] ) ]

aa    10
dd    40
Name: 국어점수, dtype: int64

In [33]:
#sr[ (sr>=20) & (sr<=40) ]
sr[ sr.between( 20,40 ) ]

bb    20
cc    30
dd    40
Name: 국어점수, dtype: int64

In [6]:
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64