In [1]:
import pandas as pd
import numpy as np

##시각화
import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams['font.family']='Malgun Gothic'
matplotlib.rcParams['axes.unicode_minus'] = False

In [2]:
data =  {'eng':[10,30,50,70],
         'kor':[20,40,60,80],
         'math':[90,50,20,70]}
df = pd.DataFrame(data, index=['a','b','c','d'] )
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70

### 인덱싱
#### df[컬럼명]

In [6]:
# sr[0] sr['a']

df['eng']

a    10
b    30
c    50
d    70
Name: eng, dtype: int64

In [8]:
# df['eng'].sum()
sr = df['eng']
sr.sum()

160

In [9]:
df[ ['eng','math'] ]

   eng  math
a   10    90
b   30    50
c   50    20
d   70    70

In [11]:
df[ ['eng'] ]

   eng
a   10
b   30
c   50
d   70

### 슬라이싱

In [13]:
df[1:4] #1,2,3

   eng  kor  math
b   30   40    50
c   50   60    20
d   70   80    70

In [15]:
df['a':'c']

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20

### iloc(zero base) , loc(부여된인덱스)
#### iloc[row, column], loc[row, column]

In [16]:
df.iloc[0]

eng     10
kor     20
math    90
Name: a, dtype: int64

In [17]:
df.iloc[0,0]

10

In [18]:
df.iloc[0:3] #df.iloc[:3]

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20

In [19]:
df.iloc[0:3, 1:]

   kor  math
a   20    90
b   40    50
c   60    20

In [20]:
# df[ ['eng','kor']]
df.iloc[:, :2]

   eng  kor
a   10   20
b   30   40
c   50   60
d   70   80

In [21]:
df.iloc[:,:-1] #특성데이터 추출시 많이 사용(ai)

   eng  kor
a   10   20
b   30   40
c   50   60
d   70   80

In [25]:
# df[ ['eng','kor']   ]
df[  df.columns.difference( ['math'] )  ]

   eng  kor
a   10   20
b   30   40
c   50   60
d   70   80

In [26]:
df.columns.difference( ['math'] )

Index(['eng', 'kor'], dtype='object')

In [27]:
df.iloc[ [0,2,3] ]

   eng  kor  math
a   10   20    90
c   50   60    20
d   70   80    70

In [28]:
df.iloc[ [0,2,3], [0,2] ]

   eng  math
a   10    90
c   50    20
d   70    70

In [34]:
df.iloc[:, [-1] ] #인공지능에서 라벨추출시

   math
a    90
b    50
c    20
d    70

In [29]:
df.loc['a']

eng     10
kor     20
math    90
Name: a, dtype: int64

In [30]:
df.loc[ 'a','eng' ]

10

In [31]:
df.loc[ 'a':'c' ]

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20

In [32]:
df.loc[ 'a':'c', 'kor': ]

   kor  math
a   20    90
b   40    50
c   60    20

In [35]:
df.loc[ ['a','c','d'] ]

   eng  kor  math
a   10   20    90
c   50   60    20
d   70   80    70

In [36]:
df.loc[ ['a','c','d'], ['eng','math'] ]

   eng  math
a   10    90
c   50    20
d   70    70

### boolean indexing

In [38]:
df[ [True,False,True,False ] ]

   eng  kor  math
a   10   20    90
c   50   60    20

In [37]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [14]:
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70